/* CONTAINER HOLDING JOBS */

.container {
  height: fit-content;
  width: 85%;
  margin: 0 auto;
  margin-top: 8rem;
  position: relative;
}

@media screen and (max-width: 400px) {
  .container {
    width: 95%;
    margin-top: var(--container-mobile-margin-top);
  }
}

.search-bar {
  font-size: 2rem;
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  transform: translateY(50%);
  padding: var(--common-space);
  box-shadow: 0rem 1rem 2rem var(--dark-greyish-cyan-shadow);
  position: relative;
}

.searches {
  overflow: hidden;
  height: 50%;
  display: flex;
  background-color: var(--span-bg-color);
  align-items: center;
  justify-content: space-between;
  border-radius: 0.4rem;
  color: var(--primary-color);
  margin-right: var(--common-space);
}

@media screen and (max-width: 400px){
  .search-bar{
    padding: var(--common-less-space);
  }
}

.clear {
  background-color: transparent;
  border: none;
  color: var(--dark-greyish-cyan);
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: auto;
  cursor: pointer;
  position: absolute;
  right: var(--common-space);
  top: 50%;
  transform: translateY(-50%);
}

.clear:hover,
.clear:active {
  color: var(--primary-color);
  text-decoration: underline;
}

.remove-btn {
  background-color: var(--primary-color);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  cursor: pointer;
}
.remove-btn:hover {
  background-color: #000;
}

.remove-btn img{
  transform: scale(.55);
}

.searches p {
  font-weight: 600;
  margin: 0 var(--common-less-space);
}
