:root {
  --primary-color: #5ba4a4;
  --secondary-color : rgba(0, 0, 0, 0.7);
  --dark-greyish-cyan:#7b8e8e;
  --span-bg-color: #eef6f6;

  /* common-padding & margin */

  --common-space : 2rem;
  --common-less-space: 1rem;
}

/* UTILITY CLASSES */
.hidden {
    display: none !important;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #effafa;
}


/* HEADER  */
.header {
  width: 100vw;
  height: fit-content;
  /* border: 3px solid red; */
  background-color: var(--primary-color);
}

.header img {
  width: 100%;
  overflow: hidden;
  transform: scale(1.05);
}
