:root {
  --primary-color: #5ba4a4;
  --secondary-color: rgba(0, 0, 0, 0.7);
  --dark-greyish-cyan: #7b8e8e;
  --dark-greyish-cyan-shadow: #7b8e8e6b;
  --span-bg-color: #eef6f6;

  /* common-padding & margin */

  --common-space: 2rem;
  --common-less-space: 1rem;
  --common-lesser-space: 0.8rem;
  --common-least-space: 0.5rem;
  --container-mobile-margin-top: 7rem;
}

/* UTILITY CLASSES */
.hidden {
  opacity: 0 !important;
  pointer-events: none !important;
  visibility: hidden !important;
}

.show {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

body {
  font-family: "League Spartan", sans-serif;
  background-color: #effafa;
}

/* HEADER  */
.header {
  height: fit-content;
  background-color: var(--primary-color);
  position: relative;
}

.header img {
  width: 100%;
  transform: scaleY(1.05);
}
